
form(method="post")#signup-page-2.form-horizontal.well
	h1 Create Your Account
	p.subheading Now please tell us a little something about you.
	hr
	fieldset
		#user-name.control-group
			label.control-label Your Name
			.controls
				input#org-name-tf.input-xlarge(type='text', name='user-name')
		#user-position.control-group
			label.control-label Position
			.controls
				input.input-xlarge(type='text', name='user-position')
		#user-phone.control-group
			label.control-label Contact Phone
			.controls
				input.input-xlarge(type='text', name='user-phone')
		#user-email.control-group
			label.control-label Contact Email
			.controls
				input.input-xlarge(type='text', name='user-email')
		hr
		#user-pass1.control-group
			label.control-label.two-line Choose Password
			.controls
				input.input-xlarge(type='password', name='user-pass1')
		#user-pass2.control-group
			label.control-label.two-line Retype Password
			.controls
				input.input-xlarge(type='password', name='user-pass2')
		.form-actions
			button(type='button')#signup-back.btn Back
			button(type='submit')#signup-next.btn.btn-primary Next