.modal-reservation-confirm.modal-centered.modal.hide.fade
	.modal-header
		a.button-close(data-dismiss='modal')
			img(src="../img/icons/ui/icon-exit.png")
		h3 Are you sure you want to make these reservations, 
			span.username John Doe?
	.modal-body
		.button-group
			a.button.button-modal.button-no.quiet No, Go Back
			a.button.button-modal.button-yes.loud Yes, Reserve
