.modal-reservation-success.modal-centered.modal.stretch.hide.fade
	.modal-header
		a.button-close(data-dismiss='modal')
			img(src="../img/icons/ui/icon-exit.png")
		h3 You have successfully reserved the following services, 
			span.username John Doe:
		img.confirmed-check(src="../img/icons/ui/icon-confirmed-check.png")
	.modal-body
		ul.l-horizontal.clearfix.reservation-entries
						li
							div.service
								div.service-chrome
								div.service-header
									h2 Mental Health
								div.service-thumbnail
									img(src='/img/icons/large/icon-mental-general.png')
								div.service-progress
									div.v-progress
										div.v-progress-bar
						li
							div.service
								div.service-chrome
								div.service-header
									h2 Mental Health
								div.service-thumbnail
									img(src='/img/icons/large/icon-mental-general.png')
								div.service-progress
									div.v-progress
										div.v-progress-bar
						li
							div.service
								div.service-chrome
								div.service-header
									h2 Mental Health
								div.service-thumbnail
									img(src='/img/icons/large/icon-mental-general.png')
								div.service-progress
									div.v-progress
										div.v-progress-bar
		.button-group
			a.button.button-modal.button-logout.caution Logout
			a.button.button-modal.button-more.loud Reserve More
