script(type="text/html", id="modal-service-selection")
	.modal-service-selection.modal-centered.modal.stretch.hide
		.modal-header
			a.button-close(data-dismiss='modal')
				img(src="../img/icons/ui/icon-exit.png")
			h3 You have selected 
				span.emphasize {{ service.name }}
			p Please select the subcategory that fits your needs:
		.modal-body
			.wrapper-center
				ul.l-horizontal.clearfix.reservation-entries
					// Mustache Template
					{{#service.fields}}
					li
						div(data-sub="{{ . }}").service.is-enabled
							div.service-chrome
							div.service-header
								h2 {{ . }}
							div.service-thumbnail
								img(src='/img/icons/large/icon-{{ service.name }}-{{ . }}.png')
							div.service-progress
								div.v-progress
									div.v-progress-bar
					{{/service.fields}}
