.modal-timeout.modal-centered.modal.hide.fade
	.modal-header
		a.button-close(data-dismiss="modal")
			img(src="../img/icons/ui/icon-exit.png")
		h3 You’re about to time out of your session. Are you still there, 
			span.username Jane Doe?
	.modal-body 
		a.button.button-modal.button-continue.loud Continue
