.modal-welcome.modal-centered.modal.hide.fade
	.modal-header
		a.button-close(data-dismiss='modal')
			img(src="../img/icons/latest/icon-exit.png")
		h3 Welcome, 
			span.username
	.modal-body You are now logged in to the Bridge system and may begin browsing for services you would like to reserve.