raiseText()
	color grey
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white

html, body 
	margin: 0
	padding: 0
	height: 100%
	user-select: none
	
label
	raiseText()

// account login //

#login-container{
	width 340px
	margin 160px auto	
	label{
		margin 15px 0 5px 5px
	}
	button{
		width 150px
		padding 6px 40px 6px 40px
		float left
		margin-top 15px
	}
	.checkbox{
		margin 23px 0 0 180px
	}
	.btm-links{
		text-align center
		margin-top 10px
	}
	#create-account{
		float:right
		margin-right:13px
	}	
	#forgot-password{
		float:left
		margin-left:10px
	}
}

// control panel //

#btn-logout
	width 100px
	top 1px
	right 8px
	position absolute
	
#top .header
	height 20px
	padding 15px
	background-color #EEE
#top img
	padding 0 10px 0 10px

.opt
	display none
.opt .header
	height 20px
	padding 10px
	background-color #EEE
.opt .image
	margin-left (65px / 2)
.opt .slice
	opacity 0
.opt .slice, .ib
	position absolute
.opt .ir
	margin-left 117px
	
#beds-o, #meals-o, #showers-o
	top 400px
	position absolute

img
	cursor pointer
.name	
	float left
.inventory
	text-align right
	
// signup & update form  //

#signup-container{
	width 460px
	margin 100px auto
	.dropdown{
		width 280px
	}
	.form-horizontal .controls{
		margin-left 100px
	}
	.form-horizontal .control-label{
		width 90px
	}
	.form-horizontal .form-actions{
		margin 0	
		padding-left 255px
	}
	.two-line{
		margin-top -9px
	}
}

// alerts & errors //

.modal-form-errors li
	color #D8000C

// generic form stuff //

.well
	margin 0
	padding-bottom 5px
.well button
	width 60px
.form-horizontal
	margin 0
button i
	padding-left 8px

