html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
}
#signup-container {
  width: 460px;
  margin: 100px auto;
}
#signup-container .dropdown {
  width: 280px;
}
#signup-container .form-horizontal .controls {
  margin-left: 100px;
}
#signup-container .form-horizontal .control-label {
  width: 90px;
}
button {
  width: 60px;
}
.well {
  margin: 0;
  padding-bottom: 5px;
}
.form-horizontal .form-actions {
  margin: 0;
  padding-left: 255px;
}
.modal-form-errors li {
  color: #d8000c;
}
