textShadow()
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white

html, body 
	margin: 0
	padding: 0
	height: 100%
	user-select: none
    
// account form on signup & home page //

#signup-container{
	width 460px
	margin 100px auto
	.dropdown{
		width 280px
	}
	.form-horizontal .controls{
		margin-left 100px
	}
	.form-horizontal .control-label{
		width 90px
	}	
}

button
	width 60px

.well
	margin 0
	padding-bottom 5px

.form-horizontal .form-actions{
	margin 0	
	padding-left 255px
}

.modal-form-errors li
	color #D8000C
