textShadow()
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white

html, body 
	margin: 0
	padding: 0
	height: 100%
	user-select: none
    
// shared rules //
button i
	padding-left 8px
.clear-fix
	clear both
#four04
	padding:20px