
form( method="post")#signup-page-2.form-horizontal.well
	h1 Create Your Account
	p.subheading Now please tell us a little something about you.
	hr
	fieldset
		#admin-name.control-group
			label.control-label  Your Name
			.controls
				input#org-name-tf.input-xlarge(type='text', name='admin-name')
		#admin-position.control-group
			label.control-label Position
			.controls
				input.input-xlarge(type='text', name='admin-position')
		#admin-phone.control-group
			label.control-label Contact Phone
			.controls
				input.input-xlarge(type='text', name='admin-phone')
		#admin-email.control-group
			label.control-label Contact Email
			.controls
				input.input-xlarge(type='text', name='admin-email')
		hr
		p.subheading Please choose your username & password.
		#admin-user.control-group
			label.control-label Username
			.controls
				input.input-xlarge(type='text', name='admin-user')
		#admin-pass.control-group
			label.control-label Password
			.controls
				input.input-xlarge(type='password', name='admin-pass')
		.form-actions
			button(type='button')#signup-back.btn Back
			button(type='submit')#signup-next.btn.btn-primary Next