div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			a.brand(href="#") BRIDGE
			ul.nav
				li.divider-vertical
			ul.nav.pull-right
				li
					a Welcome, John Doe
				li.divider-vertical
				li
					a Log Out

div.container
	div.menu-wrapper
		div.row
			ul
				li
					div.menu-item.is-selected
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.menu-chrome
						div.menu-header
							h2 Housing
						div.menu-thumbnail
							img(src='/img/icons/latest/icon-housing-general.png')
						div.menu-progress
							div.v-progress
								div.v-progress-bar
				li
					div.menu-item
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.menu-chrome
						div.menu-header
							h2 Meals
						div.menu-thumbnail
							img(src='/img/icons/latest/icon-meals-general.png')
						div.menu-progress
							div.v-progress
								div.v-progress-bar
				li
					div.menu-item.is-selected
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.menu-chrome
						div.menu-header
							h2 Health Care
						div.menu-thumbnail
							img(src='/img/icons/latest/icon-health-general.png')
						div.menu-progress
							div.v-progress
								div.v-progress-bar
				li
					div.menu-item
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.menu-chrome
						div.menu-header
							h2 Hygiene
						div.menu-thumbnail
							img(src='/img/icons/latest/icon-hygiene-general.png')
						div.menu-progress
							div.v-progress
								div.v-progress-bar
				li
					div.menu-item
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.menu-chrome
						div.menu-header
							h2 Employment
						div.menu-thumbnail
							img(src='/img/icons/latest/icon-employment-general.png')
						div.menu-progress
							div.v-progress
								div.v-progress-bar
				li
					div.menu-item.is-selected
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.menu-chrome
						div.menu-header
							h2 Transportation
						div.menu-thumbnail
							img(src='/img/icons/latest/icon-transportation-general.png')
						div.menu-progress
							div.v-progress
								div.v-progress-bar
				li
					div.menu-item
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.menu-chrome
						div.menu-header
							h2 Mental Health
						div.menu-thumbnail
							img(src='/img/icons/latest/icon-mental-general.png')
						div.menu-progress
							div.v-progress
								div.v-progress-bar
				li
					div.menu-item
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.menu-chrome
						div.menu-header
							h2 Financial
						div.menu-thumbnail
							img(src='/img/icons/latest/icon-financial-general.png')
						div.menu-progress
							div.v-progress
								div.v-progress-bar
	div.row
		a.button.button-reserve.is-disabled Reserve

a#btn-welcome.btn Welcome
a#btn-timeout.btn Timeout
a#btn-reservation-confirm.btn Confirm
a#btn-reservation-success.btn Success
include modals/welcome
include modals/timeout
include modals/reservation-confirm
include modals/reservation-success

script(src='/socket.io/socket.io.js')
script(src='/vendor/jquery.min.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/dashboard.js')
script(src='/js/utils/globals.js')