div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			a.brand(href="#") BRIDGE
			ul.nav
				li.divider-vertical
			ul.nav.pull-right
				li
					a Welcome, John Doe
				li.divider-vertical
				li
					a Log Out