div.container
	div.menu-wrapper
		div.row
			div.span3
				div.menu-item
					div.menu-chrome
					div.menu-header
						h2 HOUSING
					div.menu-thumbnail
						img(src='/img/icons/beds.png')
					div.menu-progress
						div.v-progress
							div.v-progress-bar(style="height: 60%")
