/*

Base rules are the defaults. They are almost exclusively single element selectors/tags but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like this.

Examples of Base Styles:

    html, body, form { 
        margin: 0; padding: 0;
    }

    input[type=text] { 
        border: 1px solid #999;
    }

    a {
        color: #039;
    }

    h1 {
        font-size: 24px; 
        color: red; 
    }

*/

@import 'mixins'
@import 'nib'

html, body 
	margin: 0
	padding: 0
	// user-select: none

body
	font-family Arial, Helvetica, sans-serif

h2
	font-size 21px
	color #6B6B6B
	text-shadow 0 1px 1px white

a
	cursor pointer
a:hover
	text-decoration none

label, .subheading
	raiseText()