
/*
	Override default bootstrap icon rules
*/
@css {
	[class^="icon-"],
	[class*=" icon-"] {
		display: inline-block;
		vertical-align: text-top;
	}
}

.icon-back-arrow
	background url(../img/icons/ui/icon-back-arrow.png) no-repeat top left
	width 33px
	height 21px