/*

Mixins are the helper methods used throughout the stylesheet. These can be for actions that are frequently repeated but usually have some variance in the values. For instnace, drop shadows, rounded corners, etc.

Example of Mixin Styles:

border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

!!! NOTE !!!
The creator of Stylus provides a library of common mixins called 'Nib'. Nib is already required as part of the project so check the Nib docs before writing a mixin as there's a good chance they've already provided one.

Docs: http://visionmedia.github.com/nib/
Github: https://github.com/visionmedia/nib

*/