/*

Mixins are the helper methods used throughout the stylesheet. These can be for actions that are frequently repeated but usually have some variance in the values. For instnace, drop shadows, rounded corners, etc.

Example of Mixin Styles:

border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

!!! NOTE !!!
The creator of Stylus provides a library of common mixins called 'Nib'. Nib is already required as part of the project so check the Nib docs before writing a mixin as there's a good chance they've already provided one.

Docs: http://visionmedia.github.com/nib/
Github: https://github.com/visionmedia/nib

*/

header_height = 40px
footer_height = 20px

raiseText()
	color grey
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white

disableText()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

drawContainer()
	color #777
	// disableText()
	border 1px solid #ddd
	background-color white
	border-radius 5px
	-moz-border-radius 5px
	-webkit-border-radius 5px

drawDiagonalStripes()
	background-color: rgba(0, 0, 0, .1);
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;

quietButton()
	border 1px solid #4C4C4C
	background-color #8D8D8D
	background-image linear-gradient(top, #939393, #7B7B7B)
	background-repeat repeat-x
	filter unquote('progid:dximagetransform.microsoft.gradient(startColorstr="#939393",endColorstr="#7B7B7B",GradientType=0)')
	box-shadow 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2), inset 0 1px #A8A8A8

loudButton()
	border 1px solid #58AC00
	background-color #93d141
	background-image linear-gradient(top, #76CC06, #51C001)
	background-repeat repeat-x
	filter unquote('progid:dximagetransform.microsoft.gradient(startColorstr="#A2C32A",endColorstr="#8FB722",GradientType=0)')
	box-shadow 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2), inset 0 1px #88E700

cautionButton()
	border 1px solid #555555
	background-color #BA2377
	background-image linear-gradient(top, #C12885, #B31F6A)
	background-repeat repeat-x
	filter unquote('progid:dximagetransform.microsoft.gradient(startColorstr="#C12885",endColorstr="#B31F6A",GradientType=0)')
	box-shadow 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2), inset 0 1px #961C5A