/*

Mixins are the helper methods used throughout the stylesheet. These can be for actions that are frequently repeated but usually have some variance in the values. For instnace, drop shadows, rounded corners, etc.

Example of Mixin Styles:

border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

*/

round-corners(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

text-shadow()
	-webkit-text-shadow arguments
	-moz-text-shadow arguments
	text-shadow arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments