/*

Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on. This is where the majority of your styles will go.

Examples of Module Styles:

    .folder {
        padding: 5px;
    }
    .folder-name {
        color: #FFF;
    }
    .folder-items {
        background: url(icon.png);
    }

Examples of Subclassing Modules:

    .pod { 
        width: 100%; 
    } 
    .pod input[type=text] { 
        width: 50%; 
    }

    .pod-constrained input[type=text] {
        width: 100%; 
    }

    .pod-callout { 
        width: 200px; 
    }
    .pod-callout input[type=text] { 
        width: 180px; 
    }

Usage of a sublcass in HTML would look like this:
    
    <div class="pod">...</div>
    <div class="pod pod-constrained">...</div>
    <div class="pod pod-callout">...</div> 

*/

@import 'mixins'
@import 'icons'
@import 'nib'

/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Menus
:: Components
:: Buttons
*/

/*  --------------------------------------------------
    :: Menus
    -------------------------------------------------- */
.menu-wrapper ul
	margin 0
.menu-wrapper li
	display	inline-block
	margin-right 22px
.menu-wrapper li:nth-child(4n)
	margin-right 0

.menu-item
	position relative
	width 220px
	height 166px
	background-color #EBEBEB
	margin 0 auto 30px
	border-radius 5px
	box-shadow 2px 2px 3px rgba(0, 0, 0, 0.1)
.menu-item > .button-edit
	display none
	position absolute
	top -20px
	right -20px
	z-index 3
.menu-item.is-selected
	box-shadow 0 0 0 5px #94D043, 0 0 3px 5px rgba(0, 0, 0, 0.1)
.menu-item.is-selected > .button-edit
	display block

.menu-chrome
	position absolute
	z-index 2
	top 0
	left 0
	width 100%
	height 100%
	border 1px solid #ACACAC
	box-shadow inset -1px -1px 1px rgba(255, 255, 255, 0.4), inset 1px 1px 1px rgba(255, 255, 255, 0.4)
	border-radius 5px

.menu-header
	height 40px
	background #DADADA
	border-bottom 1px solid #CBCBCB
	text-align center
	border-radius 5px 5px 0 0
.menu-header > h2
	line-height 40px
	text-transform uppercase

.menu-thumbnail
	background-image url('../img/bkgd/menu-item-background.jpg')
	background-repeat repeat-x
	float left
	position relative
	width 160px
	height 126px
	border-right 1px solid #D9D9D9
	box-shadow inset -1px 0 0 #E5E5E5
	line-height 123px
	text-align center

.menu-progress
	background-image url('../img/bkgd/menu-item-background.jpg')
	background-repeat repeat-x
	float left
	position relative
	height 126px
	width 58px
	box-shadow inset 1px 0 0 #F0F0F0

/*  --------------------------------------------------
    :: Components
    -------------------------------------------------- */
.v-progress
	width 15px
	height 100px
	overflow hidden
	margin 13px auto
	border-radius 10px
	background #F5F5F5
	border 1px solid #C4C4C4
	box-shadow -1px 0 #F0F0F0, inset -1px 0 rgba(0, 0, 0, 0.1)
.v-progress-bar
	width 15px
	height 100%
	margin-top 50px
	background-color #0E90D2
	background-image linear-gradient(top, #5AC911, #6CCC0B)
	background-repeat repeat-x
	filter unquote('progid:dximagetransform.microsoft.gradient(startColorstr="#5AC911",endColorstr="#6CCC0B",GradientType=0)')
	box-shadow inset -3px -1px rgba(0, 0, 0, 0.15), inset 1px 1px rgba(0, 0, 0, 0.15), inset 2px 0 rgba(255, 255, 255, 0.15)
	transition margin-top .6s ease

/*  --------------------------------------------------
    :: Reservations
    -------------------------------------------------- */
.reservation
	height 250px
	background #EEEEEE
	border-radius 10px
	box-shadow inset 0 0 5px 3px #AFAFAF
	overflow hidden

.reservation-header
	height 45px
	color white
	font-size 16px
	border-radius 3px
	border-bottom 1px solid #737373
	background-image linear-gradient(top, #5F5E5E, #4B4A4A)
	box-shadow inset 0 -1px #414141, inset 1px 1px #717070, inset -1px 0 #717070, 0 1px 5px 1px #AFAFAF
.reservation-header > .reservation-info
	padding-top 14px
	padding-left 27px

.reservation-entries
	padding-top 18px
	padding-left 20px
.reservation-entries > li:last-child
	margin-left 20px

/*  --------------------------------------------------
    :: Buttons
    -------------------------------------------------- */
.button
	display inline-block
	border-radius 5px
	text-transform uppercase
	text-align center

.button-reserve
	display block
	padding 0
	margin-top 45px
	height 50px
	font-size 32px
	line-height 50px
	quietButton()
.button-reserve:hover
	color #FFF
.button-reserve.is-active
	loudButton()
.button-reserve-fat
	width 220px
	height 166px
	margin 0
	line-height 166px
	loudButton()


.button-edit
	width 48px
	height 48px

.button-back
	position relative
	height 35px
	padding-left 55px
	padding-right 10px
	margin-top 35px
	font-size 22px
	line-height 32px
	quietButton()
.button-back:hover
	color #FFF
.button-back > .icon-back-arrow
	position absolute
	top 4px
	left 10px



