/*

Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on. This is where the majority of your styles will go.

Examples of Module Styles:

    .folder {
        padding: 5px;
    }
    .folder-name {
        color: #FFF;
    }
    .folder-items {
        background: url(icon.png);
    }

Examples of Subclassing Modules:

    .pod { 
        width: 100%; 
    } 
    .pod input[type=text] { 
        width: 50%; 
    }

    .pod-constrained input[type=text] {
        width: 100%; 
    }

    .pod-callout { 
        width: 200px; 
    }
    .pod-callout input[type=text] { 
        width: 180px; 
    }

Usage of a sublcass in HTML would look like this:
    
    <div class="pod">...</div>
    <div class="pod pod-constrained">...</div>
    <div class="pod pod-callout">...</div> 

*/

@import 'mixins'
@import 'icons'
@import 'nib'

/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Services
:: Components
:: Reservations
:: Modals
:: Buttons
:: Navbar
:: Misc
*/

/*  --------------------------------------------------
    :: Services
    -------------------------------------------------- */

.services-wrapper ul
	margin 0
.services-wrapper li
	display	inline-block
	margin-right 22px
.services-wrapper li:nth-child(4n)
	margin-right 0

.service
	position relative
	width 220px
	height 166px
	margin 0 auto 30px
	border-radius 5px
	background-color #FFF
	background-image linear-gradient(top, #FFFFFF 90%, #EEEEEE)
	background-repeat repeat-x
	filter unquote('progid:dximagetransform.microsoft.gradient(startColorstr="#FFFFFF",endColorstr="#EEEEEE",GradientType=0)')
	box-shadow 2px 2px 3px rgba(0, 0, 0, 0.1)
.service.is-disabled
	cursor default
	background-color #EBEBEB
	background-image linear-gradient(top, #EBEBEB 90%, #DEDEDE)
	background-repeat repeat-x
	filter unquote('progid:dximagetransform.microsoft.gradient(startColorstr="#EBEBEB",endColorstr="#DEDEDE",GradientType=0)')
	opacity 0.5
/* this is a little redundant but it is consistent with other states */
.service.is-enabled
	cursor pointer
	background-color #FFF
	background-image linear-gradient(top, #FFFFFF 90%, #EEEEEE)
	background-repeat repeat-x
	filter unquote('progid:dximagetransform.microsoft.gradient(startColorstr="#FFFFFF",endColorstr="#EEEEEE",GradientType=0)')
	opacity 1
.service > .button-edit
	display none
	position absolute
	top -20px
	right -20px
	z-index 3
.service.is-selected
	box-shadow 1px 1px 0 5px #94D043, 0 0 3px 5px rgba(0, 0, 0, 0.1)
.service.is-selected > .button-edit
	display block

.service-chrome
	position absolute
	z-index 2
	top 0
	left 0
	width 100%
	height 100%
	border 1px solid #ACACAC
	box-shadow inset -1px -1px 1px rgba(255, 255, 255, 0.4), inset 1px 1px 1px rgba(255, 255, 255, 0.4)
	border-radius 5px
	pointer-events none

.service-header
	height 40px
	background #DADADA
	border-bottom 1px solid #CBCBCB
	text-align center
	border-radius 5px 5px 0 0
.service-header > h2
	line-height 40px
	text-transform uppercase

.service-thumbnail
	// background-image url('../img/bkgd/menu-item-background.jpg')
	// background-repeat repeat-x
	float left
	position relative
	width 160px
	height 124px
	border-right 1px solid #D9D9D9
	box-shadow inset -1px 0 0 #E5E5E5
	line-height 123px
	text-align center

.service-progress
	// background-image url('../img/bkgd/menu-item-background.jpg')
	// background-repeat repeat-x
	float left
	position relative
	height 124px
	width 58px
	box-shadow inset 1px 0 0 #F0F0F0

/*  --------------------------------------------------
    :: Components
    -------------------------------------------------- */

.v-progress
	width 15px
	height 100px
	overflow hidden
	margin 13px auto
	border-radius 10px
	background #F5F5F5
	border 1px solid #C4C4C4
	box-shadow -1px 0 #F0F0F0, inset -1px 0 rgba(0, 0, 0, 0.1)
.v-progress-bar
	width 15px
	height 100%
	margin-top 50px
	background-color #0E90D2
	background-image linear-gradient(top, #5AC911, #6CCC0B)
	background-repeat repeat-x
	filter unquote('progid:dximagetransform.microsoft.gradient(startColorstr="#5AC911",endColorstr="#6CCC0B",GradientType=0)')
	box-shadow inset -1px -1px rgba(0, 0, 0, 0.15), inset 1px 1px rgba(0, 0, 0, 0.15), inset 2px 0 rgba(255, 255, 255, 0.15)
	transition margin-top .6s ease

/*  --------------------------------------------------
    :: Reservations
    -------------------------------------------------- */

.reservation
	height 250px
	margin-bottom 30px
	background #EEEEEE
	border-radius 10px
	box-shadow inset 0 0 5px 3px #AFAFAF
	overflow hidden

.reservation-header
	height 45px
	color white
	font-size 16px
	border-radius 3px
	border-bottom 1px solid #737373
	background-image linear-gradient(top, #5F5E5E, #4B4A4A)
	box-shadow inset 0 -1px #414141, inset 1px 1px #717070, inset -1px 0 #717070, 0 1px 5px 1px #AFAFAF
.reservation-header > .reservation-info
	padding-top 14px
	padding-left 27px

.reservation-entries
	padding-top 18px
	padding-left 20px
.reservation-entries > .is-reserve
	margin-left 20px

/*  --------------------------------------------------
    :: Modals
    -------------------------------------------------- */
/*
Override some Bootstrap defaults
*/
.modal
	overflow visible

/* @extends .modal */
.modal-centered
	width 600px
	margin -250px 0 0 -300px
	text-align center
.modal-centered .modal-header
	padding 26px 40px 21px
	color #6B6B6B
	line-height 58px
	border-bottom 1px solid #D5D4D4
.modal-centered .modal-body
	font-size 15px
	padding 25px 40px 25px
.modal-centered.stretch
	width 790px
	margin -250px 0 0 -395px
.modal-centered .reservation-entries
	padding-left 0
.modal-centered .modal-body, .modal-centered .modal-header p
	font-size 15px
.modal-centered .modal-header
	position relative
.modal-centered .modal-header .button-close
	position absolute
	top -20px
	right -20px
.modal-centered .modal-header .confirmed-check
	position absolute
	left 50%
	margin-left -22px
	bottom -24px
.modal-centered .modal-header h3
	text-transform uppercase
	font-size 22px
	font-weight normal

.modal-form-errors li
	color #D8000C

.modal-alert
	width 310px
	margin -200px 0 0 -150px

.modal-confirm
	width 400px
	margin -200px 0 0 -200px

.modal-client fieldset
	width 490px
	position absolute
.modal-client #btn1, .modal-client #btn2
	position absolute
	width 80px
.modal-client #btn1
	right 106px
.modal-client #btn2
	right 18px
.modal-client .modal-footer
	height 20px

.modal-inventory
	width 300px
	margin -250px 0 0 -150px
.modal-inventory .well
	width 230px
	padding-bottom 8px
.modal-inventory form button
	width 80px
.modal-inventory .modal-footer
	height 25px

.modal-single-input{
	width 452px
	margin -200px 0 0 -232px
	form{
		raiseText()
		margin-bottom 0
 		button{
			width 80px
			top 213px
			position absolute
		}
		#cancel{
			right 110px
		}
		#submit{
			right 18px
		}
	}
	.modal-body{
		height 140px
		overflow hidden
		padding-bottom 0
	}	
	.modal-footer{
		height 20px
	}
}

/*  --------------------------------------------------
    :: Buttons
    -------------------------------------------------- */

button i
	padding-left 8px

.button
	display inline-block
	color #FFF
	border-radius 5px
	text-shadow 0 -1px 0 #615D62, 0 1px 0 #B5B5B6
	text-transform uppercase
	text-align center
.button:hover
	color #FFF

.button.loud, .button.is-enabled
	loudButton()

.button.quiet, .button.is-disabled
	quietButton()

.button.caution
	cautionButton()

.button-reserve
	display block
	padding 0
	margin-top 45px
	height 50px
	font-size 32px
	line-height 50px
	letter-spacing 2px
.button-reserve-fat
	width 220px
	height 166px
	margin 0
	line-height 166px

.button-edit
	width 48px
	height 48px

.button-back
	position relative
	height 35px
	padding-left 55px
	padding-right 10px
	margin-top 35px
	font-size 22px
	line-height 35px
.button-back > .icon-back-arrow
	position absolute
	top 6px
	left 10px

.button-modal
	min-width 200px
	height 33px
	font-size 20px
	line-height 34px
	letter-spacing 1px

.button-group > a
	margin-left 20px
.button-group > a:first-child
	margin 0

/*  --------------------------------------------------
    :: Navbar
    -------------------------------------------------- */

.navbar button
	width 100px

.navbar .nav > li > a, .navbar .nav > li > a:hover, .navbar .nav > li > #logged-in-user-name
	// color #FFF
	// font-size 18px
	padding 9px 10px 11px

.navbar .nav > li > .brand
	text-align center
	min-width 130px

.navbar-fixed-top 
	min-width 1024px

@media (max-width: 979px)
	.navbar-fixed-top
		margin-bottom 0

.navbar #btn-about
	width 140px
	
.navbar i
	padding-left 8px

.navbar.list #btn-login
	top 1px
	right 8px
	width 160px	
	position absolute

/*  --------------------------------------------------
    :: Misc
    -------------------------------------------------- */

.username, .emphasize
	color #6EB6B5

.logged-out
	color #C12885

.well button
	width 60px
.well, .form-horizontal
	margin 0

.group
	float left
.group select
	float left
	width 50px
.group .wide
	width 70px
.group label
	display inline-block
	margin 5px 15px 5px 5px