html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
}
label,
.subheading {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
}
#orgs .org {
  margin: 20px;
  height: 140px;
}
#orgs p {
  font-size: 18px;
  font-weight: bold;
}
#orgs .orgName {
  float: left;
  margin-right: 10px;
}
#orgs .orgAddy {
  color: #27a3fa;
}
#orgs hr {
  clear: both;
}
#orgs table {
  margin: 0 0 5px 0;
}
#orgs .service {
  float: left;
  margin-right: 10px;
}
#orgs .service .text {
  margin: 0 10px 0 10px;
}
#orgs .service .text .name {
  float: left;
}
#orgs .service .text .avail {
  text-align: right;
}
#orgs .img {
  width: 160px;
  height: 100px;
  background-color: #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#orgs .img img {
  margin-left: 30px;
}
#login-container {
  width: 340px;
  margin: 160px auto;
}
#login-container label {
  margin: 15px 0 5px 5px;
}
#login-container button {
  width: 150px;
  padding: 6px 40px 6px 40px;
  float: left;
  margin-top: 15px;
}
#login-container .checkbox {
  margin: 23px 0 0 180px;
}
#login-container .btm-links {
  text-align: center;
  margin-top: 10px;
}
#login-container #create-account {
  float: right;
  margin-right: 13px;
}
#login-container #forgot-password {
  float: left;
  margin-left: 10px;
}
#signup-container {
  width: 460px;
  margin: 100px auto;
}
#signup-container .dropdown {
  width: 280px;
}
#signup-container .well {
  padding-bottom: 5px;
}
#signup-container .form-horizontal .controls {
  margin-left: 100px;
}
#signup-container .form-horizontal .control-label {
  width: 90px;
}
#signup-container .form-horizontal .form-actions {
  margin: 0;
  padding-left: 255px;
}
#signup-container .two-line {
  margin-top: -9px;
}
.modal-single-input {
  width: 452px;
  margin: -200px 0 0 -232px;
}
.modal-single-input form {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-bottom: 0;
}
.modal-single-input form button {
  width: 80px;
  top: 213px;
  position: absolute;
}
.modal-single-input form #cancel {
  right: 110px;
}
.modal-single-input form #submit {
  right: 18px;
}
.modal-single-input .modal-body {
  height: 140px;
  overflow: hidden;
  padding-bottom: 0;
}
.modal-single-input .modal-footer {
  height: 20px;
}
#logged-in-user-name {
  top: 11px;
  right: 130px;
  text-align: right;
  position: absolute;
}
#btn-logout {
  width: 100px;
  top: 1px;
  right: 8px;
  position: absolute;
}
#controls {
  margin-top: 100px;
}
#controls #top .header {
  height: 20px;
  padding: 15px;
  background-color: #eee;
}
#controls #top img {
  padding: 0 10px 0 10px;
}
#controls .opt {
  display: none;
}
#controls .opt .header {
  height: 20px;
  padding: 10px;
  background-color: #eee;
}
#controls .opt .image {
  margin-left: 32.5px;
}
#controls .opt .slice {
  opacity: 0;
}
#controls .opt .slice,
.ib {
  position: absolute;
}
#controls .opt .ir {
  margin-left: 117px;
}
#controls .name {
  float: left;
}
#controls .inventory {
  text-align: right;
}
#controls #beds-o,
#meals-o,
#showers-o {
  top: 400px;
  position: absolute;
}
#inventory .heading {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  font-size: 1.4em;
}
#categories {
  float: left;
  height: 100%;
  width: 200px;
  background: #eaeaea;
  border-right: thin double #ccc;
}
#categories .heading {
  padding: 20px 0 0 0;
  text-align: center;
}
#categories img {
  float: left;
  margin: 0 20px 10px 20px;
  width: 160px;
}
#offerings {
  height: 100%;
  width: 100%;
  background: #eee;
}
#offerings .wrap2 {
  margin-left: 220px;
  padding: 20px;
}
#offerings .heading {
  margin-left: 20px;
}
#offerings .content {
  width: 100%;
  height: 100%;
}
.modal-inventory {
  width: 300px;
  margin: -250px 0 0 -150px;
}
.modal-inventory .well {
  width: 230px;
  padding-bottom: 8px;
}
.modal-inventory form button {
  width: 80px;
}
.modal-inventory .modal-footer {
  height: 25px;
}
#inv-editor label {
  width: 60px;
  text-align: right;
  margin-bottom: 15px;
}
#inv-editor input {
  width: 50px;
  padding-right: 10px;
  text-align: right;
  margin: -23px 0 0 75px;
}
.modal-form-errors li {
  color: #d8000c;
}
img {
  cursor: pointer;
}
button i {
  padding-left: 8px;
}
.well button {
  width: 60px;
}
.well,
.form-horizontal {
  margin: 0;
}
.header-push {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
}
.page-container {
  position: fixed;
  background: #eee;
  top: 40px;
  bottom: 20px;
  width: 100%;
  overflow: auto;
/* Makes the Content scrollable if its required */
}
.footer-push {
  position: fixed;
  height: 20px;
  bottom: 0;
  width: 100%;
  background: #222;
}
