header_height = 40px
footer_height = 20px

raiseText()
	color grey
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white
disableText()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

html, body 
	margin: 0
	padding: 0
	user-select: none
	
label, .subheading
	raiseText()
	
// public dashboard //
#btn-about
	top 1px
	right 175px
	width 40px	
	position absolute
#btn-about i
	padding-left 0
#btn-sign-in
	top 1px
	right 8px
	width 160px	
	position absolute

#dashboard
	margin-top 60px
#dashboard .org
	margin 20px
	height 140px
#dashboard p
	font-size 18px
	font-weight bold
#dashboard .orgName 
	float left
	margin-right 10px
#dashboard .orgAddy
	color #27A3FA
#dashboard hr
	clear both
#dashboard .service
	float left
	margin-right 10px
#dashboard .service .text
	margin 0 10px 0 10px
#dashboard .service .text .name
	float left
#dashboard .service .text .avail
	text-align right
#dashboard .img
	width 160px
	height 100px
	background-color #eee
	border-radius 5px
	-moz-border-radius 5px
	-webkit-border-radius 5px
#dashboard .img img
	margin-left 30px

// account login //

#login-container{
	width 340px
	margin 160px auto
	label{
		margin 15px 0 5px 5px
	}
	button{
		width 150px
		padding 6px 40px 6px 40px
		float left
		margin-top 15px
	}
	.checkbox{
		margin 23px 0 0 180px
	}
	.btm-links{
		text-align center
		margin-top 10px
	}
	#create-account{
		float:right
		margin-right:13px
	}	
	#forgot-password{
		float:left
		margin-left:10px
	}
}

// account signup   //

#signup-container{
	width 460px
	margin 100px auto
	#signup-page-2{
		display none
	}
	.well{
		padding-bottom 5px
	}
	.dropdown{
		width 280px
	}
	.two-line{
		margin-top -9px
	}
	.form-horizontal .controls{
		margin-left 100px
	}
	.form-horizontal .control-label{
		width 90px
	}
	.form-horizontal .form-actions{
		margin 0	
		padding-left 255px
	}
}

// retrieve password //

.modal-single-input{
	width 452px
	margin -200px 0 0 -232px
	form{
		raiseText()
		margin-bottom 0
 		button{
			width 80px
			top 213px
			position absolute
		}
		#cancel{
			right 110px
		}
		#submit{
			right 18px
		}
	}
	.modal-body{
		height 140px
		overflow hidden
		padding-bottom 0
	}	
	.modal-footer{
		height 20px
	}
}

// ------account area------//

#logged-in-user-name
	top 11px
	right 130px
	text-align right
	position absolute

#btn-logout
	width 100px
	top 1px
	right 8px
	position absolute

// inventory //

#inventory .heading
	raiseText()
	font-size 1.4em
#inventory #all-services
	float left
	width 180px
	height 100%
	background #eaeaea
	border-right thin double #ccc;
#inventory #all-services .heading
	padding 20px 0 0 0
	text-align center

#inventory #our-services
	margin-left 180px
	padding 0 20px 0 20px
#inventory #our-services .heading
	padding 20px 0 0 20px
	
// service elements shared by both services & offerings
#inventory .service
	color #777
	width 100px
	margin auto
	margin-bottom 10px
	padding 10px 20px 6px 20px
	background-color white
	border 1px solid #ddd
	border-radius 5px
	disableText()
	-moz-border-radius 5px
	-webkit-border-radius 5px
#inventory .service hr
	margin 5px 0 3px 0
#inventory .service .icon
	width 100%
	cursor pointer

// specific to all-services
#inventory #all-services .service .text
	text-align center

// specific to our-services
#inventory #our-services .service
	position relative
	float left
	width 180px
	margin-left 10px
#inventory #our-services .service .edit
	width 28px
	height 28px
	cursor pointer
	position absolute
	top -10px
	right -10px
	background url('/img/icons/edit.png')
#inventory #our-services .service .text
	float left
	text-align left
#inventory #our-services .service .avail
	text-align right
#inventory #our-services .service img
	margin-left 40px
	
// need to fix this, rows not stacking correctly.. //
#inventory #our-services .services
	min-height 140px
	overflow visible
#inventory #our-services #edit-avail
	display none
#inventory #our-services #edit-avail .del, .add
	position absolute
	top 34px
	width 90px
	height 110px
	opacity 0
	cursor pointer
	background-color #333
#inventory #our-services #edit-avail .add
	margin-left 90px
#inventory #our-services #edit-avail .icon-add, .icon-del
	position absolute
	bottom 10px
#inventory #our-services #edit-avail .icon-add
	right 18px

// inventory editor //

.modal-inventory
	width 300px
	margin -250px 0 0 -150px
.modal-inventory .well
	width 230px
	padding-bottom 8px
.modal-inventory form button
	width 80px
.modal-inventory .modal-footer
	height 25px	
#inv-editor label
	width 60px
	text-align right
	margin-bottom 15px
#inv-editor input
	width 50px
	padding-right 10px
	text-align right
	margin -23px 0 0 75px

// alerts & errors //

.modal-form-errors li
	color #D8000C
.modal-alert
	width 310px
	margin -200px 0 0 -150px
.modal-confirm
	width 400px
	margin -200px 0 0 -200px
	
// generic stuff //

button i
	padding-left 8px
.well button
	width 60px
.well, .form-horizontal
	margin 0
.header-push
	position fixed
	top 0px
	width 100%
	height header_height
.page-container
	position fixed
	background #eee
	top header_height
	bottom footer_height
	width 100%
.footer-push
	position fixed
	height footer_height
	bottom 0
	width 100%
	background #222;
