
include home-header

.header-push
	#inventory.page-container
		#categories
			.heading Categories
			hr
			img(src='/img/inv/option-beds.png', title='beds', name='beds')
			img(src='/img/inv/option-showers.png', title='showers', name='showers')
			img(src='/img/inv/option-meals.png', title='meals', name='meals')
		#offerings
			.wrap2
				.heading Our Offerings
				hr
				.content

.footer-push

include ../modals/inv-editor

script(src='/vendor/jquery.min.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/utils/globals.js')
script(src='/js/home/home-header.js')
script(src='/js/home/inventory.js')