
script
	var ORG_NAME =!{JSON.stringify(oName)}

div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container-fluid
			div
				ul.nav.pull-left
					li
						.brand #{capitalize(oName)}
					li.divider-vertical
					li
						a(href='/about-us') About Us
					li.divider-vertical
					li
						a(href='/offerings') Our Offerings
					li.divider-vertical
					li
						a(href='/our-team') Our Team
					li.divider-vertical
					li
						a(href='/clients') Our Clients
					li.divider-vertical
					li
						a(href='/live') 
							i.icon-globe.icon-white
							| Network Status
					li.divider-vertical
				ul.nav.pull-right
					li
						#logged-in-user-name(style='margin-top:1px') Welcome : #{capitalize(uName)}
					li
						button#btn-logout.btn.btn-primary
							i.icon-lock.icon-white
							| Sign Out
include ../modals/alert
include ../modals/logout
script(src='/js/utils/globals.js')