
// store data from express in hidden field for js //
input(type='hidden', value=JSON.stringify(services))#services

- var capitalize = function(s){return s.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});}

include home-header

.header-push
	#inventory.page-container
		#all-services
			.heading All Services
			hr
			- for (var i = 0; i < services.length; i++)
				- var service = services[i].name;
				.service
					.text #{capitalize(service)}
					hr
					.icon
						img(src='/img/icons/'+service+'.png', title=service, name=service)
		#our-services
			#offset
				#all
					.heading Our Offerings
					hr
					.services
				#edit-avail
					.heading
					hr
					.services
.footer-push

include ../modals/inv-editor

script(src='/socket.io/socket.io.js')
script(src='/vendor/jquery.min.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/home/home-header.js')
script(src='/js/home/inventory.js')