
// store data from express in hidden field for js //
input(type='hidden', value=JSON.stringify(services))#services

include home-header

.header-push
	#inventory.page-container
		#categories
			.heading Categories
			hr
			- for (var i = 0; i < services.length; i++)
				- var service = services[i].name;
				.img
					img(src='/img/icons/'+service+'.png', title=service, name=service)
		#offerings
			.wrap2
				.heading Our Offerings
				hr
				.content

.footer-push

include ../modals/inv-editor

script(src='/socket.io/socket.io.js')
script(src='/vendor/jquery.min.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/home/home-header.js')
script(src='/js/home/inventory.js')