
.modal-inventory.modal.hide.fade
	.modal-header 
		button.close(data-dismiss='modal') x
		h3
	.modal-body
		p Please enter the total you have of each :
		form( method="post")#inv-editor.well.span4
			fieldset
				label Name
					input.input-xlarge(type='text', value='0')
				label Time
					input.input-xlarge(type='text', value='0')
	.modal-footer
		button(data-dismiss="modal")#cancel.btn Cancel
		button(type="submit")#submit.btn.btn-primary Update