.modal-reservation-success.modal-centered.modal.stretch.hide.fade
	.modal-header
		a.button-close(data-dismiss='modal')
			img(src="../img/icons/latest/icon-exit.png")
		h3 You have successfully reserved the following services, 
			span.username John Doe:
		img.confirmed-check(src="../img/icons/latest/icon-confirmed-check.png")
	.modal-body
		ul.l-horizontal.clearfix.reservation-entries
						li
							div.menu-item
								div.menu-chrome
								div.menu-header
									h2 Mental Health
								div.menu-thumbnail
									img(src='/img/icons/latest/icon-mental-general.png')
								div.menu-progress
									div.v-progress
										div.v-progress-bar
						li
							div.menu-item
								div.menu-chrome
								div.menu-header
									h2 Mental Health
								div.menu-thumbnail
									img(src='/img/icons/latest/icon-mental-general.png')
								div.menu-progress
									div.v-progress
										div.v-progress-bar
						li
							div.menu-item
								div.menu-chrome
								div.menu-header
									h2 Mental Health
								div.menu-thumbnail
									img(src='/img/icons/latest/icon-mental-general.png')
								div.menu-progress
									div.v-progress
										div.v-progress-bar
		.button-group
			a.button.button-modal.button-logout.caution Logout
			a.button.button-modal.button-more.loud Reserve More
