div.navbar.navbar-fixed-top.fat
	div.navbar-inner
		div.container
			a.brand(href="#")
				img(src="../img/logo.png", alt="Bridge")
			ul.nav
				li.divider-vertical
			ul.nav.pull-right
				li
					a Welcome, John Doe
				li.divider-vertical
				li
					a Log Out