script(type='text/javascript').
	var session = !{JSON.stringify(session)};

div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			ul.nav.pull-right
				li
					a#client-name
				li.divider-vertical
				li
					button#btn-reserve.btn.btn-primary
						i.icon-home.icon-white
						| Reserve Services
				li.divider-vertical
				li
					button#btn-provider.btn.btn-primary
						i.icon-lock.icon-white
						| Provider Login
				li.divider-vertical
				li
					button#btn-network.btn.btn-primary
						i.icon-globe.icon-white
				li.divider-vertical
			.bridge-logo

include modals/welcome
include modals/goodbye
include modals/timeout