script
	//- var services = !{services}
	var services = !{JSON.stringify(services)};
include dashboard-header

div.container
	div.services-wrapper
		div.row
			ul
				- for (var i = services.length - 1; i >= 0; i--)
					li
						div(id=services[i].name).service.is-disabled
							img.button-edit(src="../img/icons/latest/icon-edit.png")
							div.service-chrome
							div.service-header
								h2 #{services[i].name}
							div.service-thumbnail
								img(src='/img/icons/latest/icon-'+services[i].name+'-general.png')
							div.service-progress
								div.v-progress
									div.v-progress-bar
	div.row
		a#request-services.button.button-reserve.is-disabled Reserve

a#btn-timeout.btn Timeout
a#btn-reservation-confirm.btn Confirm
a#btn-reservation-success.btn Success
a#btn-service-selection.btn Services

include modals/welcome
include modals/goodbye
include modals/timeout
include modals/reservation-confirm
include modals/reservation-success
include modals/service-selection

script(src='/socket.io/socket.io.js')
script(src='/vendor/jquery.min.js')
script(src='/vendor/underscore.min.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/dashboard/client-login.js')
script(src='/js/dashboard/select-services.js')
script(src='/js/utils/globals.js')