include dashboard-header

div.container
	div.row
		a.button.button-back.quiet Back
			i.icon-back-arrow
	div.row
		div.reservation-wrapper
			div.reservation
				div.reservation-header
					ul.l-horizontal.clearfix.reservation-info
						li.reservation-org Glide Memorial
						li |
						li.reservation-address 330 Ellis Street, San Francisco, CA 94102
						li |
						li.reservation-phone 415.674.6000
				div.reservation-body
					ul.l-horizontal.clearfix.reservation-entries
						li
							div.service
								div.service-chrome
								div.service-header
									h2 Mental Health
								div.service-thumbnail
									img(src='/img/icons/latest/icon-mental-general.png')
								div.service-progress
									div.v-progress
										div.v-progress-bar
						li
							div.service
								div.service-chrome
								div.service-header
									h2 Mental Health
								div.service-thumbnail
									img(src='/img/icons/latest/icon-mental-general.png')
								div.service-progress
									div.v-progress
										div.v-progress-bar
						li
							div.service
								div.service-chrome
								div.service-header
									h2 Mental Health
								div.service-thumbnail
									img(src='/img/icons/latest/icon-mental-general.png')
								div.service-progress
									div.v-progress
										div.v-progress-bar
						li.is-reserve
							a.button.button-reserve.button-reserve-fat.loud Reserve
			div.reservation
				div.reservation-header
					ul.l-horizontal.clearfix.reservation-info
						li.reservation-org Glide Memorial
						li |
						li.reservation-address 330 Ellis Street, San Francisco, CA 94102
						li |
						li.reservation-phone 415.674.6000
				div.reservation-body
					ul.l-horizontal.clearfix.reservation-entries
						li
							div.service
								div.service-chrome
								div.service-header
									h2 Mental Health
								div.service-thumbnail
									img(src='/img/icons/latest/icon-mental-general.png')
								div.service-progress
									div.v-progress
										div.v-progress-bar
						li
							div.service
								div.service-chrome
								div.service-header
									h2 Mental Health
								div.service-thumbnail
									img(src='/img/icons/latest/icon-mental-general.png')
								div.service-progress
									div.v-progress
										div.v-progress-bar
						li
							div.service
								div.service-chrome
								div.service-header
									h2 Mental Health
								div.service-thumbnail
									img(src='/img/icons/latest/icon-mental-general.png')
								div.service-progress
									div.v-progress
										div.v-progress-bar
						li
							a.button.button-reserve.button-reserve-fat.loud Reserve
			div.reservation
				div.reservation-header
					ul.l-horizontal.clearfix.reservation-info
						li.reservation-org Glide Memorial
						li |
						li.reservation-address 330 Ellis Street, San Francisco, CA 94102
						li |
						li.reservation-phone 415.674.6000
				div.reservation-body
					ul.l-horizontal.clearfix.reservation-entries
						li
							div.service
								div.service-chrome
								div.service-header
									h2 Mental Health
								div.service-thumbnail
									img(src='/img/icons/latest/icon-mental-general.png')
								div.service-progress
									div.v-progress
										div.v-progress-bar
						li
							div.service
								div.service-chrome
								div.service-header
									h2 Mental Health
								div.service-thumbnail
									img(src='/img/icons/latest/icon-mental-general.png')
								div.service-progress
									div.v-progress
										div.v-progress-bar
						li
							div.service
								div.service-chrome
								div.service-header
									h2 Mental Health
								div.service-thumbnail
									img(src='/img/icons/latest/icon-mental-general.png')
								div.service-progress
									div.v-progress
										div.v-progress-bar
						li
							a.button.button-reserve.button-reserve-fat.loud Reserve

include modals/welcome
include modals/goodbye
include modals/timeout

script(src='/socket.io/socket.io.js')
script(src='/vendor/jquery.min.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/dashboard/client-login.js')
script(src='/js/dashboard/select-provider.js')
script(src='/js/utils/globals.js')