include dashboard-header

div.container
	div.services-wrapper
		div.row
			ul
				li
					div.service.is-enabled.is-selected
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.service-chrome
						div.service-header
							h2 Housing
						div.service-thumbnail
							img(src='/img/icons/latest/icon-housing-general.png')
						div.service-progress
							div.v-progress
								div.v-progress-bar
				li
					div.service.is-enabled
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.service-chrome
						div.service-header
							h2 Meals
						div.service-thumbnail
							img(src='/img/icons/latest/icon-meals-general.png')
						div.service-progress
							div.v-progress
								div.v-progress-bar
				li
					div.service.is-enabled.is-selected
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.service-chrome
						div.service-header
							h2 Health Care
						div.service-thumbnail
							img(src='/img/icons/latest/icon-health-general.png')
						div.service-progress
							div.v-progress
								div.v-progress-bar
				li
					div.service.is-enabled
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.service-chrome
						div.service-header
							h2 Hygiene
						div.service-thumbnail
							img(src='/img/icons/latest/icon-hygiene-general.png')
						div.service-progress
							div.v-progress
								div.v-progress-bar
				li
					div.service.is-enabled
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.service-chrome
						div.service-header
							h2 Employment
						div.service-thumbnail
							img(src='/img/icons/latest/icon-employment-general.png')
						div.service-progress
							div.v-progress
								div.v-progress-bar
				li
					div.service.is-enabled.is-selected
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.service-chrome
						div.service-header
							h2 Transportation
						div.service-thumbnail
							img(src='/img/icons/latest/icon-transportation-general.png')
						div.service-progress
							div.v-progress
								div.v-progress-bar
				li
					div.service.is-enabled
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.service-chrome
						div.service-header
							h2 Mental Health
						div.service-thumbnail
							img(src='/img/icons/latest/icon-mental-general.png')
						div.service-progress
							div.v-progress
								div.v-progress-bar
				li
					div.service.is-enabled
						img.button-edit(src="../img/icons/latest/icon-edit.png")
						div.service-chrome
						div.service-header
							h2 Financial
						div.service-thumbnail
							img(src='/img/icons/latest/icon-financial-general.png')
						div.service-progress
							div.v-progress
								div.v-progress-bar
	div.row
		a.button.button-reserve.is-disabled Reserve

a#btn-welcome.btn Welcome
a#btn-timeout.btn Timeout
a#btn-reservation-confirm.btn Confirm
a#btn-reservation-success.btn Success
a#btn-service-selection.btn Services

include modals/welcome
include modals/timeout
include modals/reservation-confirm
include modals/reservation-success
include modals/service-selection

script(src='/socket.io/socket.io.js')
script(src='/vendor/jquery.min.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/dashboard.js')
script(src='/js/utils/globals.js')