
.modal-form-errors.modal.hide.fade
	.modal-header
		button.close(data-dismiss='modal') x
		h3 Whoops!
	.modal-body
		p.subheading Please correct the following problems :
		ul
	.modal-footer
		button(data-dismiss="modal").btn.btn-warning OK